<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="1" connectionString="server=127.0.0.1;database=StuMag;user=sa;password=1010820"/>
</connectionStrings>
</configuration>